# .prettierignore

node_modules/**
.env
public
static
dist
storybook-static/**
build

.swp
.DS_Store
yarn-error.log

build
coverage

rollup.config.js

# templates
templates/**

# storybook/**

*.stories.tsx
*.test.tsx

# bob
lib/